run:
  name: abo_classifier_v1
  seed: 42
  device: cuda
  amp: true

data:
  train_path: data/processed/abo_mini/train.parquet
  val_path: data/processed/abo_mini/val.parquet
  test_path: data/processed/abo_mini/test.parquet
  image_col: image_path
  label_col: category_l1
  num_workers: 2
  image_size: 224

model:
  base_library: open_clip
  arch: ViT-B-32
  pretrained: laion2b_s34b_b79k
  base_ckpt: artifacts/abo/retrieval/openclip_abo_retrieval.pt
  freeze_backbone: true

head:
  type: linear
  dropout: 0.1

train:
  task: image_classification
  epochs: 5
  batch_size: 128
  lr: 1.0e-4 #1.0e-3
  weight_decay: 0.01
  warmup_steps: 200 #0
  log_every: 50
  eval_every: 1000 #500
  # eval_every: 999999

outputs:
  ckpt_dir: artifacts/abo/classifier
  ckpt_name: openclip_abo_classifier.pt

metrics:
  topk: [1, 3, 5]
  macro_f1: true
